<%= form_with(id: 'suscription-form',model: form, local: true) do |form| %>


  <div class="field">
    <%= form.label :nombre %><label class="required">*</label>
    <%= form.text_field :nombre, placeholder: "Nombre", required: true %>
  </div>

  <div class="field">
    <%= form.label :apellidos %><label class="required">*</label>
    <%= form.text_field :apellidos, placeholder: "Primer y Segundo Apellido", required: true %>
  </div>

  <div class="field">
    <%= form.label :cédula %><label class="required">*</label>
    <%= form.number_field :cedula, placeholder: "105240345", required: true %>
  </div>

  <div class="field">
    <%= form.label :email %><label class="required">*</label>
    <%= form.email_field :email, placeholder: "mi-correo@gmail.com", required: true %>
  </div>

  <div class="field">
    <%= form.label :teléfono %><label class="required">*</label>
    <%= form.number_field :telefono, placeholder: "75894512", required: true %>
  </div>

  <div class="field">
    <%= form.label :institución %> <label class="required">*</label>
    <%= form.text_field :institucion, placeholder: "Institución", required: true %>
  </div>

  <div class="field">
    <%= form.label :cargo %><label class="required">*</label>
    <%= form.text_field :cargo, placeholder: "Cargo", required: true %>
  </div>

  <div class="field">
    <%= form.label :profesión %><label class="required">*</label>
    <%= form.text_field :profesion, placeholder: "Profesión", required: true %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit "Registrarse" %>
  </div>
<% end %>
