<div class="formulatio-header form-style-6">

<h1>Gracias por inscribirte</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @form.nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @form.apellidos %>
</p>

<p>
  <strong>Cédula:</strong>
  <%= @form.cedula %>
</p>

<p>
  <strong>Email:</strong>
  <%= @form.email %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @form.telefono %>
</p>

<p>
  <strong>Institución:</strong>
  <%= @form.institucion %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @form.unidad %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @form.cargo %>
</p>

<p>
  <strong>Profesión:</strong>
  <%= @form.profesion %>
</p>

<div>
