<div class="formulatio-header form-style-6">

<h1>Gracias por inscribirte</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @form.nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @form.apellidos %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @form.cedula %>
</p>

<p>
  <strong>Email:</strong>
  <%= @form.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @form.telefono %>
</p>

<p>
  <strong>Institucion:</strong>
  <%= @form.institucion %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @form.cargo %>
</p>

<p>
  <strong>Profesion:</strong>
  <%= @form.profesion %>
</p>

<div>
